<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mini Flask Project</title>
	<link rel="stylesheet" href="stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	{% include 'includes/_navbar.html' %}
	<div class="container">
	{% incluse 'includes/_message.html %}
	{% block body %}{% endblock %}
	</div>
	<script src="https://stackpath.bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>




